/*
    Proyecto Web Aplicaciones Web
    Dennis Alvarez Rodriguez
    16 de noviembre de 2022
*/

*{
    box-sizing: border-box;
    margin: 0px;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

main{
    text-align: center;
    text-decoration: none;
}

header{
    text-align: center;
    margin-top: 20px;
}

body{
    background-color:beige;
    font-family: 'PT Sans', sans-serif;
}

.Parrafo1Quienes{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    font-size: 1.5em;

}

h1{
    text-decoration: underline;
    margin-left: 28%;
}

#Quienes{
    margin-top: 50px;
    width: 50%;
    margin-left: 350px;
    border-radius: 25px;
    box-shadow: -5px 5px 5px black;
}

.titulo{
    display: flex;
    margin-left: 20px;
}

